SECRET_KEY=use-your-own-django-secret-key
GITHUB_TOKEN=use-your-own-github_token

ALLOWED_HOSTS=localhost,127.0.0.1,backend

NEO4J_URI=bolt://db:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=password

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

CORS_ALLOWED_ORIGINS=http://localhost
CSRF_TRUSTED_ORIGINS=http://localhost

VITE_API_URL=http://localhost